<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <h1>Address Book</h1>
            <h3>You've added a contact:</h3>
            <ul>
                <li>{{ new_contact.getName }}</li>
                <li>{{ new_contact.getPhone }}</li>
                <li>{{ new_contact.getEmail }}</li>
                <li>{{ new_contact.getAddress }}</li><br>
            </ul>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
