<html>
    <head>
        <title>Address Book</title>
    </head>
    <body>
        <h1>You've added a contact:</h1>
        <p>{{ new_contact.getName }}</p>
        <p>{{ new_contact.getPhone }}</p>
        <p>{{ new_contact.getAddress }}</p><br>
        <p><a href='/'>Home</a></p>
    </body>
</html>
