<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600" rel="stylesheet">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <h1>Address Book</h1>
            <h3>You've added a contact:</h3>
            <ul>
                <li>{{ new_contact.getName }}</li>
                <li>{{ new_contact.getPhone }}</li>
                <li>{{ new_contact.getEmail }}</li>
                <li>{{ new_contact.getAddress }}</li><br>
            </ul>
            <h4><a href='/'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></h4>
        </div>
    </body>
</html>
