<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600" rel="stylesheet">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Address Book</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class='container'>
            <h1>Address Book</h1>
            <h3>Address book cleared!</h3>
            <h4><a href='/'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></h4>
            <footer>Created by <a href="https://github.com/maggie-harrington">Maggie Harrington</a></footer>
        </div>
    </body>
</html>
