<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Address Book</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class='container'>
            <h1>Address Book</h1>
            <h3>Address book cleared!</h3>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
