<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600" rel="stylesheet">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <h1>Address Book</h1>

            <div class='col-md-6'>
                <h3>Add a contact:</h3>
                <br>

                <form action='/create_contact' method='post' id="contact-form">
                    <input id='name' name='name' type='text' placeholder=' name'>
                    <br><br>

                    <input id='phone' name='phone' type='text' placeholder=' phone'>
                    <br><br>

                    <input id='email' name='email' type='text' placeholder=' email'>
                    <br><br>

                    <input id='address' name='address' type='text' placeholder=' address'>
                    <br><br><br>

                    <button type='submit' class='btn btn-lg'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add Contact</button>
                </form>
            </div>


            <div class='col-md-6'>

                {% if list_of_contacts is not empty %}
                    <h3>Contacts:</h3>
                    <br>
                    {% for contact in list_of_contacts %}
                    <p class='contact-name'>{{ contact.getName }}</p>
                        <ul>
                            <li>{{ contact.getPhone }}</li>
                            <li>{{ contact.getEmail }}</li>
                            <li>{{ contact.getAddress }}</li>
                        </ul>
                        <br>
                    {% endfor %}


                    <form action='/delete_contacts' method='post' id="delete-contacts">
                        <button type='submit' class='btn btn-lg'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete All Contacts</button>
                    </form>
                {% endif %}
            </div>


        </div>
    </body>
</html>
