body {
    background-color: #d4ccc4;
    background-image: url(../img/Address_book_6.jpg);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 50pt;
    margin-bottom: 5%;
}

h3 {
    font-weight: 400;
    font-size: 25pt;
    color: #eae6e1;
    padding-bottom: 3%;
}

h4 {
    font-weight: 400;
    font-size: 18pt;
}

li {
    font-weight: 300;
    font-size: 16pt;
    color: #c9bfb5;
}

footer {
    font-weight: 300;
    font-size: 14pt;
    color: #c9bfb5;
    display: block;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0%;
}

input[type=text] {
    background-color: #eae6e1;
}

#contact-form button[type=submit] {
    background-color: #708ca9;
    color: white;
}

#delete-contacts button[type=submit] {
    background-color: #c08b59;
    color: white;
}

#contact-form {
    color: black;
    font-size: 14pt;
}

#delete-contacts {
    color: black;
    font-size: 14pt;
    margin-bottom: 5%;
}

.container {
    margin: 10%;
}

.contact-name {
    font-weight: 400;
    font-size: 18pt;
    color: #d4ccc4;
}
